<div class="top-area">
    <h2>Users :</h2>    
    <form action="/admin/register" method="GET">
        <input type="submit" value="Add User" id="addButton" class="btn user-add-btn">
    </form>
</div>
<div id="user-list-bottom-area">

        <table>
            <thead>
                <th>User ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Role</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                
                {{#each displayed_users_arr}}
                    <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.username}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.role}}</td>
                    <td>{{this.status}}</td>
                    <td><a href="#" class="btn deactivate-btn">Deactivate</a></td>

                    {{/each}}
                </tr>
                <!--<tr>
                    <td>2</td>
                    <td>Keisha</td>
                    <td>Wharton</td>
                    <td>k@wharton.com</td>
                    <td>Inactive</td>
                    <td><a href="" class="btn deactivate-btn">Deactivate</a></td>
                </tr>-->
            </tbody>
        </table>